<div class="row animated fadeIn">
  <div class="col-lg-3 col-md-4 col-6">
      <!-- small card -->
      <a href="">
      <div class="small-box bg-primary card_agregar_ciclo_escolar">
        <div class="inner ">
          <h4>Crear </h4>
          <h4>Nuevo </h4>
          <h4>Ciclo escolar</h4>
          <br>
        </div>
        <div class="icon">
        <i class="fas fa-plus"></i>
        </div>

      </div></a>
    </div>
  <div class="col-lg-3 col-md-4 col-6">
    <div class="card text-white bg-light  mb-3 card_ciclo_escolar" style="max-width: 18rem;">
      <div class="ribbon-wrapper ribbon">
                <div class="ribbon bg-success">
                   <small>Abierto</small>
                 </div>
      </div>
       <div class="card-header">Nombre: <span class="badge badge-pill badge-secondary">Licenciatura 2020</span>
       </div>
      <div class="card-body">
        <table class="table table-borderless tablaResumenCicloEscolar">
          <thead>
           <tr>
             <th colspan="4">Generales</th>
           </tr>
          </thead>
          <tbody>
           <tr>
             <td >Modalidad :</td>
             <td ><span class="badge badge-pill badge-secondary">Licenciatura</span></td>
             <td>Alumnos :</td>
             <td><span class="badge badge-pill badge-secondary">80</span></td>
           </tr>
           <tr>
             <td>Inicio :</td>
             <td><span class="badge badge-pill badge-secondary">10/02/2020</span></td>
             <td>Fin :</td>
             <td><span class="badge badge-pill badge-secondary">10/02/2020</span></td>
           </tr>
          </tbody>
        </table>

        <table class="table tablaResumenCicloEscolar">
         <thead>
           <tr>
             <th colspan="2">Evaluaciones</th>
           </tr>
         </thead>
         <tbody>
           <tr>
             <td>E. parciales:</td>
             <td><span class="badge badge-pill badge-secondary">3</span></td>
           </tr>
           <tr>
             <td>E. Extraordinarias: </td>
             <td><span class="badge badge-pill badge-secondary">2</span></td>
           </tr>
           <tr>
             <td>E. Titulo:</td>
             <td><span class="badge badge-pill badge-secondary">1</span></td>
           </tr>
         </tbody>
       </table>

       <div class="  text-right ">
         <button type="button" class="btn btn-sm botonopcionescicloescolar  btn-outline-secondary"><i class="fas fa-info"></i></button>
                     <button type="button" class="btn btn-sm botonopcionescicloescolar  btn-outline-secondary"><i class="fas fa-user"></i>Alumnos</button>
                     <button type="button" class="btn btn-sm botonopcionescicloescolar btn-outline-secondary"><i class="fas fa-list-ol"></i>Asignaturas</button>
                     <button type="button" class="btn btn-sm botonopcionescicloescolar btn-outline-secondary"><i class="fas fa-door-closed"></i>Cerrar</button>
                 </div>
     </div>
   </div>
 </div>



 <div class="col-lg-3 col-md-4 col-6">
   <div class="card text-white bg-light  mb-3 card_ciclo_escolar" style="max-width: 18rem;">
     <div class="ribbon-wrapper ribbon">
                 <div class="ribbon  bg-danger">
                   <small>Cerrado</small>
                 </div>
               </div>
       <div class="card-header">Nombre: <span>Licenciatura 2020</span></div>
     <div class="card-body">
       <table class="table table-borderless tablaResumenCicloEscolar">
         <thead>
           <tr>
             <th colspan="4">Generales</th>
           </tr>
         </thead>
         <tbody>
           <tr>
             <td >Modalidad :</td>
             <td ><span class="badge badge-pill badge-secondary">Licenciatura</span></td>
             <td>Alumnos :</td>
             <td><span class="badge badge-pill badge-secondary">80</span></td>
           </tr>
           <tr>
             <td>Inicio :</td>
             <td><span class="badge badge-pill badge-secondary">10/02/2020</span></td>
             <td>Fin :</td>
             <td><span class="badge badge-pill badge-secondary">10/02/2020</span></td>
           </tr>
         </tbody>
       </table>

       <table class="table tablaResumenCicloEscolar">
         <thead>
           <tr>
             <th colspan="2">Evaluaciones</th>
           </tr>
         </thead>
         <tbody>
           <tr>
             <td>E. parciales:</td>
             <td><span class="badge badge-pill badge-secondary">3</span></td>
           </tr>
           <tr>
             <td>E. Extraordinarias: </td>
             <td><span class="badge badge-pill badge-secondary">2</span></td>
           </tr>
           <tr>
             <td>E. Titulo:</td>
             <td><span class="badge badge-pill badge-secondary">1</span></td>
           </tr>
         </tbody>
       </table>
     
       <div class="  text-right ">

           <button type="button" class="btn btn-sm botonopcionescicloescolar  btn-outline-secondary"><i class="fas fa-info"></i></button>
                       <button type="button" class="btn btn-sm botonopcionescicloescolar  btn-outline-secondary"><i class="fas fa-user"></i>Alumnos</button>
                       <button type="button" class="btn btn-sm botonopcionescicloescolar btn-outline-secondary"><i class="fas fa-list-ol"></i>Asignaturas</button>

                 </div>
     </div>
   </div>
 </div>
 <div class="col-lg-3 col-md-4 col-6">
   <div class="card text-white bg-light  mb-3 card_ciclo_escolar" style="max-width: 18rem;">
     <div class="ribbon-wrapper ribbon">
                 <div class="ribbon  bg-warning">
                   <small>Borrador</small>
                 </div>
               </div>
       <div class="card-header">Nombre: <span>Licenciatura 2020</span></div>
     <div class="card-body">
       <table class="table table-borderless tablaResumenCicloEscolar">
         <thead>
           <tr>
             <th colspan="4">Generales</th>
           </tr>
         </thead>
         <tbody>
           <tr>
             <td >Modalidad :</td>
             <td ><span class="badge badge-pill badge-secondary">Licenciatura</span></td>
             <td>Alumnos :</td>
             <td><span class="badge badge-pill badge-secondary">80</span></td>
           </tr>
           <tr>
             <td>Inicio :</td>
             <td><span class="badge badge-pill badge-secondary">10/02/2020</span></td>
             <td>Fin :</td>
             <td><span class="badge badge-pill badge-secondary">10/02/2020</span></td>
           </tr>
         </tbody>
       </table>

       <table class="table tablaResumenCicloEscolar">
         <thead>
           <tr>
             <th colspan="2">Evaluaciones</th>
           </tr>
         </thead>
         <tbody>
           <tr>
             <td>E. parciales:</td>
             <td><span class="badge badge-pill badge-secondary">3</span></td>
           </tr>
           <tr>
             <td>E. Extraordinarias: </td>
             <td><span class="badge badge-pill badge-secondary">2</span></td>
           </tr>
           <tr>
             <td>E. Titulo:</td>
             <td><span class="badge badge-pill badge-secondary">1</span></td>
           </tr>
         </tbody>
       </table>
     
       <div class="  text-right ">
         <button type="button" class="btn btn-sm botonopcionescicloescolar  btn-outline-secondary"><i class="fas fa-info"></i></button>
                     <button type="button" class="btn btn-sm botonopcionescicloescolar  btn-outline-secondary"><i class="fas fa-user"></i>Alumnos</button>
                     <button type="button" class="btn btn-sm botonopcionescicloescolar btn-outline-secondary"><i class="fas fa-list-ol"></i>Asignaturas</button>
                     <button type="button" class="btn btn-sm botonopcionescicloescolar btn-outline-secondary"><i class="fas fa-check"></i>Abrir</button>

                 </div>
     </div>
   </div>
 </div>
 
 

</div>