<div class="row">
    <div class="col-5">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Color Barra Superior</h4>
                <br>
                <hr>
                <br>
                <div class="r-panel-body">
                    <div class="d-flex flex-wrap mb-3">
                        <div #link1 (click)="cambiarColor('navbar-dark navbar-primary',link1)" class="bg-primary elevation-2" style="width: 40px; height: 20px; border-radius: 25px; margin-right: 10px; margin-bottom: 10px; opacity: 0.8; cursor: pointer;">
                        </div>
                        <div #link2 (click)="cambiarColor('navbar-dark navbar-secondary',link2)" class="bg-secondary elevation-2" style="width: 40px; height: 20px; border-radius: 25px; margin-right: 10px; margin-bottom: 10px; opacity: 0.8; cursor: pointer;">
                        </div>
                        <div #link3 (click)="cambiarColor('navbar-dark navbar-info',link3)" class="bg-info elevation-2" style="width: 40px; height: 20px; border-radius: 25px; margin-right: 10px; margin-bottom: 10px; opacity: 0.8; cursor: pointer;">
                        </div>
                        <div #link4 (click)="cambiarColor('navbar-dark navbar-success',link4)" class="bg-success elevation-2" style="width: 40px; height: 20px; border-radius: 25px; margin-right: 10px; margin-bottom: 10px; opacity: 0.8; cursor: pointer;">
                        </div>
                        <div #link5 (click)="cambiarColor('navbar-dark navbar-danger',link5)" class="bg-danger elevation-2" style="width: 40px; height: 20px; border-radius: 25px; margin-right: 10px; margin-bottom: 10px; opacity: 0.8; cursor: pointer;">
                        </div>
                        <div #link6 (click)="cambiarColor('navbar-dark navbar-indigo',link6)" class="bg-indigo elevation-2" style="width: 40px; height: 20px; border-radius: 25px; margin-right: 10px; margin-bottom: 10px; opacity: 0.8; cursor: pointer;">
                        </div>
                        <div #link7 (click)="cambiarColor('navbar-dark navbar-purple',link7)" class="bg-purple elevation-2" style="width: 40px; height: 20px; border-radius: 25px; margin-right: 10px; margin-bottom: 10px; opacity: 0.8; cursor: pointer;">
                        </div>
                        <div #link8 (click)="cambiarColor('navbar-dark navbar-pink',link8)" class="bg-pink elevation-2" style="width: 40px; height: 20px; border-radius: 25px; margin-right: 10px; margin-bottom: 10px; opacity: 0.8; cursor: pointer;">
                        </div>
                        <div #link9 (click)="cambiarColor('navbar-dark navbar-navy',link9)" class="bg-navy elevation-2" style="width: 40px; height: 20px; border-radius: 25px; margin-right: 10px; margin-bottom: 10px; opacity: 0.8; cursor: pointer;">
                        </div>
                        <div #link10 (click)="cambiarColor('navbar-dark navbar-lightblue',link10)" class="bg-lightblue elevation-2" style="width: 40px; height: 20px; border-radius: 25px; margin-right: 10px; margin-bottom: 10px; opacity: 0.8; cursor: pointer;">
                        </div>
                        <div #link11 (click)="cambiarColor('navbar-dark navbar-teal',link11)" class="bg-teal elevation-2" style="width: 40px; height: 20px; border-radius: 25px; margin-right: 10px; margin-bottom: 10px; opacity: 0.8; cursor: pointer;">
                        </div>
                        <div #link12 (click)="cambiarColor('navbar-dark navbar-cyan',link12)" class="bg-cyan elevation-2" style="width: 40px; height: 20px; border-radius: 25px; margin-right: 10px; margin-bottom: 10px; opacity: 0.8; cursor: pointer;">
                        </div>
                        <div #link13 (click)="cambiarColor('navbar-dark navbar-dark',link13)" class="bg-dark elevation-2" style="width: 40px; height: 20px; border-radius: 25px; margin-right: 10px; margin-bottom: 10px; opacity: 0.8; cursor: pointer;">
                        </div>
                        <div #link14 (click)="cambiarColor('navbar-dark navbar-gray',link14)" class="bg-gray elevation-2" style="width: 40px; height: 20px; border-radius: 25px; margin-right: 10px; margin-bottom: 10px; opacity: 0.8; cursor: pointer;">
                        </div>
                        <div #link15 (click)="cambiarColor('navbar-light navbar-warning',link15)" class="bg-warning elevation-2" style="width: 40px; height: 20px; border-radius: 25px; margin-right: 10px; margin-bottom: 10px; opacity: 0.8; cursor: pointer;">
                        </div>
                        <div #link16 (click)="cambiarColor('navbar-light navbar-white',link16)" class="bg-white elevation-2" style="width: 40px; height: 20px; border-radius: 25px; margin-right: 10px; margin-bottom: 10px; opacity: 0.8; cursor: pointer;">
                        </div>
                        <div #link17 (click)="cambiarColor('navbar-light navbar-orange',link17)" class="bg-orange elevation-2" style="width: 40px; height: 20px; border-radius: 25px; margin-right: 10px; margin-bottom: 10px; opacity: 0.8; cursor: pointer;">
                        </div>
                    </div>
                
                </div>

            </div>
        </div>
    </div>

</div>

